body {
    background-color: beige;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; /* Full height */
    /* padding: 20px; Add some padding around */ 
    width: 150px;
    height: 180x;
             /* Full height of the viewport */
    padding: 20px;  
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Limit the width of the form */
    box-sizing: border-box;
}